name: Release

on:
    push:
        tags:
            - "*"

jobs:
    release:
        runs-on: ubuntu-latest
        permissions:
            contents: write

        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  version: latest
            - uses: actions/setup-node@v4
              with:
                  node-version: 24.x
                  cache: "pnpm"
            - run: pnpm install --frozen-lockfile
            - run: pnpm run build
            - uses: softprops/action-gh-release@v2
              with:
                  files: |
                      main.js
                      manifest.json
                  prerelease: ${{ contains(github.ref_name, '-') }}
